@font-face {
  font-family: "amatic";
  src: url(amatic/AmaticSC-Regular.ttf) format("truetype");
}
body {
  font-family: "Alegreya", serif;
  color: #000;
}
.navbar {
  border: none;
  font-size: 1.3rem;
}
.jumbotron {
  width: 100%;
  background-color: #fff;
  margin-top: 6rem;
}
#mesmer {
  font-family: "amatic";
  font-size: 13rem;
  letter-spacing: 0.5rem;
  text-decoration: underline solid #000;
}
#msb {
  font-family: "amatic";
  font-size: 5rem;
  letter-spacing: 0.2rem;
}
.amatic {
  font-family: "amatic";
}
.charcoal {
  color: #36454f;
  text-decoration: underline solid #000;
}
article {
  margin: 1rem 4rem;
}
h2 {
  font-size: 3rem;
}
.underline {
  text-decoration: underline solid #000;
}
p {
  font-size: 1.8rem;
  line-height: 3.9rem;
}
figcaption {
  font-size: 1.2rem;
}
.quote {
  margin: 1rem auto;
}
.contain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.left {
  float: left;
  width: 68%;
  margin-right: 3%;
}
.right {
  height: 30rem;
  width: auto;
  margin: auto;
  float: right;
}
figure > * {
  display: block;
  margin: 3.5rem auto;
  width: 91%;
  text-align: center;
}
.left-side {
  float: left;
}
.right-side {
  float: right;
  width: 75%;
}
.lights_pic {
  float: left;
  margin: 2rem 2rem 0rem auto;
}
form label {
  font-size: 1.2rem;
}
form li {
  margin-left: -2.5rem;
}
input {
  width: 90%;
  background-color: transparent;
}
footer {
  margin: 2rem 3.5rem;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
}
container-fluid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container-fluid h3 {
  text-align: center;
}
li {
  list-style: none;
  font-size: 1.2rem;
}
.equal-left {
  float: left;
}
.equal-right {
  float: right;
}
