@font-face
  font-family: "amatic"
  src: url(amatic/AmaticSC-Regular.ttf) format("truetype")

$underline: underline solid #000


body
  font-family: "Alegreya", serif
  color: #000
  margin: auto 20rem   
  h2
    font-size: 2.5rem
  .container
    margin: 2.5rem auto
    display: flex
    position: relative
    width: 100%
  p
    font-size: 1.1rem
    line-height: 2.1rem
  figure > *
    display: block
    margin: 3.5rem auto
    width: 100%
    text-align: center
  footer
    font-size: 0.7rem
    letter-spacing: 0.1rem
    margin-bottom: 2rem
    text-align: center 
    .green-footer
      font-size: 0.8rem
      color: green
      line-height: 1rem
      margin-bottom: 2rem
  .jumbotron
    width: 100%
    background-color: #fff
    margin-top: 6rem
    #mesmer
      font-family: "amatic"
      font-size: 8rem
      font-weight: 100
      letter-spacing: 0.5rem
      text-decoration: $underline
    #msb
      font-family: "amatic"
      font-size: 3.5rem
      letter-spacing: 0.2rem
.underline
  text-decoration: $underline
  font-weight: 700
.navbar
  border: none

.amatic
  font-family: "amatic"

.charcoal
  color: #777a78
  text-decoration: $underline

figcaption
  font-size: 0.9rem
  font-style: italic
  font-weight: 700

.quote-box
  margin: auto auto 3rem auto
  .quote
    display: block
    margin: auto
    font-weight: 700
    font-style: italic
    line-height: 1.9rem
    text-align: center
.left
  float: left
  flex: 1
  text-align: right
  margin-left: 0
.pre-footer
  text-align: center
  font-size: 0.9rem
  line-height: 1rem
  margin: 2rem auto
.right 
  float: right
  height: 22rem
  width: auto
  margin: 0.5rem auto auto 2rem   
 
.left-side
  float: left
  flex: 1
  height: 26rem
  width: auto
  margin-left: 0

.right-side
  float: right
  margin: auto auto auto 1rem

.left-pic 
  margin-right: 1rem

.right-right
  float: right
  text-align: right

.lights_pic
  float: left
  margin: 2rem 2rem 0rem auto

.words-right
  text-align: right

form
  label
    font-size: 1.3rem
    margin: 0.35rem auto
  li
    margin-left: -2.5rem
    font-size: 1.3rem
    line-height: 2.7rem

input
  width: auto
  border: none

.left-para
  text-align: right
  flex: 1

.container-fluid 
  display: flex
  flex-direction: row
  justify-content: stretch
  h3
    text-align: center
    font-size: 1.2rem
li
  list-style: none
  font-size: 1.1rem
  line-height: 1.9rem
.certs 
  flex: 1
  h4 
    font-size: 1rem
  li 
    line-height: 1.5rem
    font-size: 1rem
.equal-left
  float: left
  width: 50%
  margin-bottom: 5rem

.equal-right
  float: right
  width: 50%

.ocean
  float: right
  margin: auto auto auto 1.5rem

.shadow
  float: right
  margin: 1.5rem auto auto 1.5rem
.flowers
  float: right
  margin: auto auto auto 1.5rem
  height: 20rem


@media only screen and (max-width: 1040px)
  body
    margin: auto 1.5rem
    .jumbotron
      width: 100%
      #mesmer
        font-size: 3rem
      #msb
        font-size: 1.5rem 
    article
      margin: 0 auto
    .container
      display: flex
      flex-direction: column
      justify-content: center
      font-size: 1.2rem
      line-height: 1.5rem
      text-align: justify
    .container-fluid
      margin: 0 
      display: flex
      flex-direction: column
      text-align: left
    p 
      font-size: 1rem
      line-height: 2rem
    .lights-pic
      margin: inherit
      float: none
      width: 100%
    .quote-box
      margin: 0 auto
    .quote
      font-size: 0.8rem
    form
      h3
        margin-top: 2rem
        font-size: 1.2rem
      label
        font-size: 1rem
        margin: 0 auto
        line-height: 2rem
      li
        margin-left: -2.5rem
        font-size: 1rem
        line-height: 2.5rem
  footer
    font-size: 0.5rem
    letter-spacing: normal
    line-height: normal
    .green-footer
      line-height: normal

  .amatic 
    font-size: 2rem
  .side-words
    margin: 1.5rem auto auto auto 
    float: none
    text-align: left

  .ocean  
      margin: auto
      width: 100%
      float: none
  .pic 
    margin: 0 auto
    width: 100% 
    height: auto

  .left 
    float: none
  .right
    float: none
  .left-side
    float: none
  .right-side
    float: none
  .left-pic
    float: none
  .equal-left
    float: none
    width: 100%
  .equal-right
    float: none
    width: 100%

  .right-side
    margin-left: -4rem 
    float: left
    li
      font-size: 0.4rem
  .right-right
    margin-top: -22.5rem
    margin-left: 0
    margin-right: -2rem
    float: right
    li 
      line-height: 1.5rem
      font-size: 0.4rem