@font-face {
  font-family: "amatic";
  src: url(amatic/AmaticSC-Regular.ttf) format("truetype");
}
body {
  font-family: "Alegreya", serif;
  color: #000;
}
.navbar {
  border: none;
  font-size: 1rem;
}
.jumbotron {
  background-color: #fff;
}
#mesmer {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 7rem;
  font-family: "amatic";
  font-size: 13rem;
  letter-spacing: 0.5rem;
}
#msb {
  margin-top: 0rem;
  padding-top: 2rem;
  font-family: "amatic";
  font-size: 5rem;
  letter-spacing: 0.2rem;
}
.amatic {
  font-family: "amatic";
}
.charcoal {
  color: #36454f;
}
article {
  margin: 1rem 4rem;
}
h2 {
  font-size: 4rem;
}
p {
  font-size: 2rem;
  line-height: 4.5rem;
}
